.container-fluid {
  background-image: url("../images/ordinateur-portable-tasse-cafe-table-bois-dans-piece-sombre1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;color: white;
}

.header{
    position: sticky;
}

.sectionhome {
  display: flex;
  height: 90vh;
}
#home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#projet{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    
}

#photoprofile {
  width: 400px;
}

i {
  font-size: larger;
}
